.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Change color on active */
  .navbar a:active {
    background-color: rgb(92, 138, 245);
    color: black;
  }
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #e65b5b;
    color: #fff;
    padding: 80px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

.section {
    margin: 30px;
    text-align: center;
}

.section h3 {
    font-size: 20px;
    margin-top: 0;
}

.section p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

ul.skills li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
}

ul.skills li:last-child {
    margin-right: 0;
}
.skills li:hover {
    background-color: #e65b5b;
}
.download-btn {
    background-color: white;
    border: 3px solid black;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.download-btn:hover {
    background-color: #e65b5b;
}
