* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  color: white;
  background-color: #e65b5b;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: rgb(92, 138, 245);
  color: black;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
}



.footer ul {
  list-style-type: none;
}

.main h1 {
  text-align: center;
  color: #ea4444;
}
.footer {
  /* Remove the padding property */
  text-align: center;
  background: #ddd;
}
.robot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
